$body-background-color: $white;
$sidebar-color: #ECECEC;
$border-color: #ECECEC;
$body-text-color: #24344D;
$body-heading-color: #24344D;
$nav-child-link-color: #24344D;
$link-color: #24344D;
$btn-primary-color: #3E567C;
$base-button-color: #ECECEC;
$search-result-preview-color: #24344D;
$search-background-color: #E6E7E8;
$table-background-color: $white;
$feedback-color: darken($sidebar-color, 2%);
$code-background-color: #C5CCD7; 
$code-linenumber-color: #24344D; 

table {
    border-top: 4px solid #E7D7BC;
    border-bottom: 4px solid #E7D7BC;
}

.table_link_text {
    color: #24344D;
    text-decoration: underline;
}
